{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Пользователь</title>
{% endblock title %}

{% block css %}
{% endblock %}

{% block content %}

    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="w-100" style="max-width: 600px;">
            <h2>Вход</h2>
            <form method="post">
                {% csrf_token %}
                <label for="username">Username:</label>
                <input type="text" name="username" required>
                <label for="password">Password:</label>
                <input type="password" name="password" required>
                <button type="submit">Login</button>
            </form>

            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

        </div>
    </div>


{% endblock content %}

