* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

body, html {
    font-family: "Roboto", "Verdana", sans-serif;
    font-size: 16px;
}

header {
    height: 80px;
    background-color: #ddecef;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
}

/* Убираем стили для hover, так как Bootstrap уже их управляет через JS */
.header-nav .dropdown-menu {
    min-width: 200px; /* Устанавливаем минимальную ширину выпадающего меню */
    display: none; /* Отключаем отображение по умолчанию */
}

/* Стили для меню при наведении, если хотите сделать это без JS */
.header-nav .dropdown:hover .dropdown-menu {
    display: block; /* Показываем меню при наведении */
}

.header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    display: flex;
    gap: 20px; /* Расстояние между элементами меню */
}

.menu li {
    list-style: none;
    padding: 5px;
}

.menu a {
    color: #333;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s ease;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ddecef;

}

.menu a:hover {
    /*background-color: #151617; !* Цвет ссылки при наведении *!*/
    /*color: #2f015d;*/
    border: 1px solid #2f015d;
}

/*.menu a:active {*/
/*    background-color: #151617; !* Цвет ссылки при наведении *!*/
/*    color: gold;*/
/*}*/


/* Плавное исчезновение toast-сообщений через 7 секунд */
.toast {
    opacity: 1;
    transition: opacity 1s ease-out;
}

.toast.hide {
    opacity: 0;
}
