<!doctype html>
<html lang="en">
{% load static %}

<head>
    {% block title %}
        <title></title>
    {% endblock title %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
{#    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"#}
{#          rel="stylesheet">#}

    <!-- Main CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet"/>

    {% block css %}
    {% endblock css %}
</head>
<body>

<header>
    <nav class="header-nav">
        <ul class="menu">
            <li><a href="{% url 'home' %}">Главная</a></li>
            <li><a href="{% url 'webfacetg:get_all_tg_users' %}">Список пользователей</a></li>
            <li ><a href="{% url 'webfacetg:all_lotteries' %}">Список лотерей</a></li>
            {% if request.user.is_authenticated %}
            <li ><a href="{% url 'webfacetg:create_lottery' %}">Создать лотерею</a></li>
{#            <li ><a href="{% url 'webfacetg:create_user' %}">Создать пользователя</a></li>#}
            {% endif %}
        </ul>
    </nav>
</header>

<main>
    {% block content %}
    {% endblock %}
</main>

{#<footer>#}
{#    <div>footer</div>#}
{#</footer>#}

<!-- Кнопка "Вверх" -->
<button id="scrollToTopBtn" class="btn btn-secondary" title="Наверх">
    ↑
</button>


<!-- Bootstrap JS -->
{#<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>#}
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const scrollToTopBtn = document.getElementById("scrollToTopBtn");

        // Показать/скрыть кнопку при прокрутке
        window.addEventListener("scroll", () => {
            if (window.scrollY > 300) { // Показать кнопку, если прокрутка > 300px
                scrollToTopBtn.style.display = "flex";
            } else {
                scrollToTopBtn.style.display = "none";
            }
        });

        // Прокрутка страницы вверх при нажатии
        scrollToTopBtn.addEventListener("click", () => {
            window.scrollTo({
                top: 0,
                behavior: "smooth" // Плавная прокрутка
            });
        });
    });
</script>


</body>
</html>
