{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Лотерея</title>
{% endblock title %}

{% block css %}
    <!-- Подключаем иконки (например, FontAwesome) -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
{% endblock %}

{% block content %}
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="w-100" style="max-width: 600px;">
            <h4 class="text-center mt-2 d-flex justify-content-between align-items-center">
                <span class="flex-grow-1">Список участников лотереи</span>

                {% if request.user.is_authenticated %}
                <!-- Кнопка для скачивания файла -->
                <span>
                    <a href="{% url 'webfacetg:download_participants_lottery' pk=lottery %}"
                       class="btn btn-link d-flex flex-column align-items-center"
                       title="Скачать участников">
                        <img src="{% static 'img/excel.svg' %}" alt="Скачать пользователей"
                             class="mb-1">
                        <span>Скачать</span>
                    </a>
                </span>
                {% endif %}

            </h4>
            <h5>Количество участников лотереи: <b class="count-users">{{ tickets.count }}</b></h5>
            {% if request.user.is_authenticated %}
                {% if users_doesnt_tickets %}
                    <h5>Список людей которые не потянули билет для участия:<br>
                        {% for user in users_doesnt_tickets %}
                            <span style="color: #0d6efd">{{ user.full_name }}<br></span>
                        {% endfor %}
                    </h5>
                {% endif %}
            {% endif %}
            <div class="table-responsive">
                <table class="table table-bordered table-hover text-center">
                    <thead class="table-secondary">
                    <tr>
                        <th class="text-center align-middle">Номер</th>
                        <th class="text-center align-middle">ФИО Участника</th>
                        <th class="text-center align-middle">Билет</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ticket in tickets %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td style="text-align: start">{{ ticket.user.full_name }}</td>
                            <td>{{ ticket.ticket_number }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
